.slider-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.slide {
  transition: margin 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.ps-navigation-bottom-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slader-navigation__dot {
  width: 9.5px;
  border-radius: 30px;
  height: 9.5px;
  margin: 0 8px;
  background-color: white;
  cursor: pointer;
}

.arrow-left,
.arrow-right {
  position: relative;
  width: 41px;
  height: 14px;
  cursor: pointer;
}
.arrow-left {
  margin-right: 22px;
}
.arrow-right {
  margin-left: 22px;
}
.arrow-left::before {
  content: url(../images/arrow-left.svg);
  position: absolute;
}
.arrow-right::before {
  content: url(../images/arrow-right.svg);
  position: absolute;
}
